/* Overlay gradients (::before / ::after) */
button.group::before {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: calc(0.75rem - 1px);
  background: linear-gradient(177.95deg, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 0;
  transition: all 0.5s ease-in-out;
}
button.group::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: calc(0.75rem - 2px);
  background:
    radial-gradient(
      65.28% 65.28% at 50% 100%,
      rgba(34, 211, 238, 0.8) 0%,
      rgba(34, 211, 238, 0) 100%
    ),
    linear-gradient(0deg, #2563eb, #2563eb);
  z-index: 0;
  transition: all 0.5s ease-in-out;
}

/* Floating Points */
.point-1,
.point-2,
.point-3,
.point-4,
.point-5,
.point-6,
.point-7,
.point-8,
.point-9,
.point-10 {
  position: absolute;
  bottom: -10px;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 9999px;
  pointer-events: none;
}

.point-1 {
  left: 10%;
  opacity: 1;
  animation: floating-points 2.35s ease-in-out infinite 0.2s;
}
.point-2 {
  left: 30%;
  opacity: 0.7;
  animation: floating-points 2.5s ease-in-out infinite 0.5s;
}
.point-3 {
  left: 25%;
  opacity: 0.8;
  animation: floating-points 2.2s ease-in-out infinite 0.1s;
}
.point-4 {
  left: 44%;
  opacity: 0.6;
  animation: floating-points 2.05s ease-in-out infinite;
}
.point-5 {
  left: 50%;
  opacity: 1;
  animation: floating-points 1.9s ease-in-out infinite;
}
.point-6 {
  left: 75%;
  opacity: 0.5;
  animation: floating-points 1.5s ease-in-out infinite 1.5s;
}
.point-7 {
  left: 88%;
  opacity: 0.9;
  animation: floating-points 2.2s ease-in-out infinite 0.2s;
}
.point-8 {
  left: 58%;
  opacity: 0.8;
  animation: floating-points 2.25s ease-in-out infinite 0.2s;
}
.point-9 {
  left: 98%;
  opacity: 0.6;
  animation: floating-points 2.6s ease-in-out infinite 0.1s;
}
.point-10 {
  left: 65%;
  opacity: 1;
  animation: floating-points 2.5s ease-in-out infinite 0.2s;
}

/* Animations */
@keyframes floating-points {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 0, 20;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 10, 10;
    stroke-dashoffset: -5;
  }
  100% {
    stroke-dasharray: 20, 0;
    stroke-dashoffset: -10;
  }
}
button.group:hover svg path {
  animation: dash 0.8s linear forwards;
}


